<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
 <div th:include="head"></div>
<head>
<title>商品レビュー</title>
<link href="css/bootstrap-stars.css" rel="stylesheet"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="js/jquery.barrating.min.js"></script>
  <!--画像インプット用-->
  <script src="js/fileupload.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

  </head>

  <body>

    <br/><br/><br/><br/>
    <!-- body -->

    <div class="container">
    <h1 align="center">商品レビュー</h1>


      <br/><br/>
      <div class="container">

      	<div class="row">
          <div class="col-md-3">
            <br/>
            <div class="card">
                <div class="card-image">
                  <a href="/item"  th:href="@{/item(itemId=${item.getId()})}">
                  <img th:src="${itemImg}"  width="250" height="250"/>
                  </a>
                  <div class="card-content">
                  <span class="card-title" th:inline="text">[[${item.getName()}]]</span>
                  <div th:inline="text">[[${item.getPrice()}]]円</div>
                </div>
               </div>
              </div>
            </div>
          <div class="col-md-5">
            <form method="post" th:action="@{/itemreviewupdate}" id="itemreview" th:object="${itemReviewForm}"  enctype="multipart/form-data">
            </form>
            <input type="hidden" form="itemreview" name="itemId" th:value="${item.getId()}"/>
            <input type="hidden" form="itemreview" name="updateId" th:value="${review.getId()}"/>
            <div class="form-group">
              <label for="review">レビュー
                  <input form="itemreview" type="text" class="form-control" placeholder="reviewTitle" name="title" th:value="${review.getTitle()}"/>
                  <span style="color:#ff0000;" th:object="${itemReviewForm}" th:errors="*{title}"></span>

              </label>
              	     <select form="itemreview" name="evaluation" id="star">
					  <option th:selected="${review.getEvaluation() == 1}?'selected':'no'" value="1">1</option>
					  <option th:selected="${review.getEvaluation() == 2}?'selected':'no'" value="2">2</option>
					  <option th:selected="${review.getEvaluation() == 3}?'selected':'no'" value="3">3</option>
					  <option th:selected="${review.getEvaluation() == 4}?'selected':'no'" value="4">4</option>
					  <option th:selected="${review.getEvaluation() == 5}?'selected':'no'" value="5">5</option>
					</select>
              <textarea form="itemreview" rows="14" class="form-control" id="review" name="reviewText" th:inline="text">
              [[${review.getReviewText()}]]
              </textarea>
              <span style="color:#ff0000;" th:object="${itemReviewForm}" th:errors="*{reviewText}"></span>


            </div>


         </div>
         <div class="col-md-3">
           <br/>写真を投稿する<br/>
               <!--<form action="" method="post" enctype="">-->
                   <div class="imagePreview"></div>
                   <div class="input-group">
                       <label class="input-group-btn">
                           <span class="btn btn-primary">
                               Choose File<input form="itemreview" type="file" name="uploadFile" style="display:none" class="uploadFile"/>
                           </span>
                       </label>
                       <input form="itemreview" type="text" class="form-control" readonly=""/>
                   </div><br/><br/><br/>

               <button form="itemreview" class="btn btn-primary" type="submit">レビュー送信</button>
           </div>


      </div>
    </div>
   </div>
  </body>
</html>